<html>
  <head>
    <title>XRuntime</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
	<div class="row">
		<div class="span9">
			<a href='<%= path_prefix %>/'><h1>XRuntime</h1></a>
		</div>
	</div>
    
    <script src="js/bootstrap.min.js"></script>
	
	<ul class="nav nav-tabs nav-stacked">
	  <li>
	  	<a href='<%= current_page %>m'>请求时长报表</a>
	  </li>
	  <li>
		<a href='<%= current_page %>p'>代码片段报表</a>
	  </li>
	</ul>
	
  </body>
</html>